<h1><%= @hospital.name %></h1>
<%= link_to 'Index', {action:'index'}%>
<p>This hospital has <%= @hospital.hospital_attributes.length %> attributes </p>
<p><%if @hospital.longitude == nil%>
  <strong> This hospital has no geocoding</strong>
  <%= link_to 'Geocode!', {action: 'new', :id => @hospital.id}%>
  <% end %>
</p>
<table>
  <tr>
    <th>Hospital</th>
  </tr>
  <tr>
    <td>Address</td>
    <td><%= @hospital.streetAndNumber%></td>
  </tr>
  <tr>
    <td>City</td>
    <td><%= @hospital.zipCodeAndCity%></td>
  </tr>
  <tr>
    <td>Longitude</td>
    <td><%= @hospital.longitude%></td>
  </tr>
  <tr>
    <td>Latitude</td>
    <td><%= @hospital.latitude%></td>
  </tr>
</table>
<% @hospital.hospital_locations.each do |loc| %>
  <table>
    <tr>
      <th>Location</th>
    </tr>
    <tr>
      <td>Address</td>
      <td><%= loc.streetAndNumber%></td>
    </tr>
    <tr>
      <td>City</td>
      <td><%=loc.zipCodeAndCity%></td>
    </tr>
    <tr>
      <td>Longitude</td>
      <td><%= loc.longitude%></td>
    </tr>
    <tr>
      <td>Latitude</td>
      <td><%= loc.latitude%></td>
    </tr>
  </table>
<% end %>
<table>
  <tr>
    <th>Code</th>
    <th>Value</th>
  </tr>
  <% @hospital.hospital_attributes.each do |attr| %>
  <tr>
    <td><%= attr.code %></td>
    <td><%= attr.value %></td>
  </tr>
    <% end %>
</table>
